<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/lib/normalize.css">
    <link rel="stylesheet" href="/static/lib/element-plus/index.css">
    <link rel="stylesheet" href="/static/lib/bootstrap-icon/bootstrap-icons.css">
    <link rel='stylesheet' href='/static/css/style.css' />
  </head>
  <body>
  <div id="app" class="container-card">
    <el-container class="container">
      <el-aside class="menu-aside">
        <div class="aside-inner">
          <div class="aside-header">
            <el-button class="button" type="primary">
              <i class="bi bi-upload"></i>
              上传
            </el-button>
          </div>
          <el-menu default-active="2" class="menu">
            <el-menu-item class="menu-item" index="2">
              <i class="bi bi-clock"></i>
              <span>最近</span>
            </el-menu-item>
            <el-menu-item class="menu-item" index="3">
              <i class="bi bi-star"></i>
              <span>星标</span>
            </el-menu-item>
            <el-menu-item class="menu-item" index="4">
              <i class="bi bi-folder2"></i>
              <span>我的文件</span>
            </el-menu-item>
          </el-menu>
        </div>
      </el-aside>

      <el-container class="right-container">
        <el-header class="main-header">
          <div class="header-inner">
            <div class="left">
              <el-input class="header-input"></el-input>
              <el-button type="primary">搜索</el-button>
            </div>
            <div class="right">
              <el-button size="small">
                <i class="bi bi-list"></i>
              </el-button>
              <el-button size="small">
                <i class="bi bi-grid"></i>
              </el-button>
              <el-button size="small">
                <i class="bi bi-info-circle"></i>
              </el-button>
            </div>
          </div>
        </el-header>
        <el-header height="auto">
          <div>
            <div>快速访问</div>
            <el-row :gutter="12">
              <el-col :span="6">
                <el-card></el-card>
              </el-col>
              <el-col :span="6">
                <el-card></el-card>
              </el-col>
              <el-col :span="6">
                <el-card></el-card>
              </el-col>
              <el-col :span="6">
                <el-card></el-card>
              </el-col>
              <el-col :span="6">
                <el-card></el-card>
              </el-col>
            </el-row>
          </div>
        </el-header>
        <el-main></el-main>
        <el-footer></el-footer>
      </el-container>
    </el-container>
  </div> <!-- end card-box -->
  <script src="/static/lib/vue.global.js"></script>
  <script src="/static/lib/element-plus/element-plus.js"></script>
  <script src="/static/lib/axios.min.js"></script>
  <script src="/static/js/index.js"></script>
  </body>
</html>
